@import "tailwindcss";
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9; 
  padding: 10px 20px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}
*/
